name: Docs
on:
  push:
    branches: ["main"]
    tags: ["v*"]
  workflow_dispatch:
permissions:
    contents: write
jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install JSDoc/TypeDoc
        run: npm install -g jsdoc typedoc

      - name: Install doxygen
        run: sudo apt-get install -y doxygen

      - uses: actions-ext/yardang@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
