name: Docs
on:
  push:
    branches: ["main"]
    tags: ["v*"]
  workflow_dispatch:
permissions:
    contents: write
jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install doxygen
        run: sudo apt-get install -y doxygen

      - uses: actions-ext/yardang@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
